<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="/assets/css/build/tailwind.css" />
    <link rel="stylesheet" href="/assets/css/build/extra.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <style>
      dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
      }
    </style>
  </head>

  <body>
    <section class="h-screen flex w-screen">
      <section class="max-w-96 py-4 bg-gray-800 text-white">
        <div class="text-center">
          <h2 class="text-xl">Menu</h2>
        </div>
        <ul class="pt-4 flex flex-col gap-2">
          <a href="/">
            <li class="min-w-52 px-3 py-2 hover:shadow-xl">Tasks</li>
          </a>
          <a href="/projects">
            <li class="min-w-52 px-3 py-2 hover:shadow-xl">Manage Projects</li>
          </a>
        </ul>
      </section>
      <main id="main" class="overflow-y-auto w-full flex-1">
        <header class="p-4 shadow-md border-b bg-gray-500">
          <h1 class="text-3xl text-white">{{ Title }}</h1>
        </header>
        <section class="container mx-auto">
          {% block content %}{% endblock %}
        </section>
      </main>
    </section>
  </body>
</html>
