{% extends "./layouts/base.html" %} {% block content %}
<section class="container mx-auto py-6">
  <div id="message">
    {% if Message %}
    <p class="p-2 border border-red bg-blue-300 text-black">{{Message}}</p>
    <button
      hx-indicator="#clearMessage"
      hx-swap="outerHTML swap:500ms"
      hx-target="#main"
      type="button"
      hx-get="/"
    >
      Clear message
    </button>
    <p id="clearMessage" class="htmx-indicator">Loading...</p>
    {% endif %}
  </div>
  <div id="errors">
    {% if Error %}
    <p class="p-2 bg-red-300 text-black border border-red">{{Error}}</p>
    {% endif %}
  </div>
  <div class="flex flex-col">
    <button
      id="addNewTask"
      type="button"
      class="bg-blue-700 self-end rounded-md border-2 border-transparent focus:border-blue-400 text-white px-4 py-2"
    >
      Add New Task
    </button>
    <dialog class="z-50 p-4 rounded-md border shadow-lg">
      <form
        hx-post="/add-task"
        hx-target="#message"
        hx-swap="outerHTML"
        class="flex flex-col gap-4 w-[400px]"
      >
        <label for="project" class="flex flex-col">
          Project
          <select
            class="border border-black rounded-md p-2"
            id="project"
            name="project"
          >
            {% for project in Projects %}
            <option value="{{ project.Slug }}">{{ project.Name }}</option>
            {% endfor %}
          </select>
        </label>
        <div class="grid grid-cols-2 gap-4">
          <label class="flex flex-col">
            Start Time
            <input
              class="border border-black p-1 rounded-md"
              type="time"
              name="startTime"
            />
          </label>
          <label class="flex flex-col">
            End Time
            <input
              class="border border-black p-1 rounded-md"
              type="time"
              name="endTime"
            />
          </label>
        </div>
        <label class="flex flex-col">
          Task Title
          <input
            class="p-2 border rounded-md border-black"
            type="text"
            name="title"
          />
        </label>
        <label class="flex flex-col">
          Task Detail
          <textarea
            rows="6"
            id="taskDetail"
            name="taskDetails"
            class="w-full border border-black rounded-md p-2 my-2"
            placeholder="Enter task details"
          ></textarea>
        </label>
        <div class="flex justify-end gap-2">
          <button
            id="close"
            class="border py-2 px-4 border-red-400 text-black rounded-md"
            type="button"
            autofocus
          >
            Cancel
          </button>
          <button
            id="addTask"
            class="border py-2 px-4 bg-green-400 text-black rounded-md"
          >
            Add Task
          </button>
        </div>
      </form>
    </dialog>
  </div>
</section>
<section class="container mx-auto">
  <div class="relative overflow-x-auto">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          {% for header in Tasks.Headers %}
          <th scope="col" class="px-6 py-3">
            <span class="text-start w-full block"> {{ header.Name }} </span>
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for body in Tasks.Data %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4">{{ body.Title }}</td>
          <td class="px-6 py-4">
            <span class="whitespace-pre-wrap">{{ body.Content }}</span>
          </td>
          <td class="px-6 py-4">{{ body.StartTime }}</td>
          <td class="px-6 py-4">{{ body.EndTime }}</td>
          <td class="px-6 py-4">{{ body.Project.Name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
<script>
  const dialog = document.querySelector("dialog");
  const closeButton = document.querySelector("button#close");
  const addTaskButton = document.querySelector("button#addTask");
  dialog.addEventListener("close", function () {
    document.querySelector("form").reset();
  });
  closeButton.addEventListener("click", function () {
    dialog.close();
  });
  addTaskButton.addEventListener("click", function () {
    document.querySelector("form").reset();
  });
  document.getElementById("addNewTask").addEventListener("click", function () {
    dialog.showModal();
  });
</script>
{% endblock %}
