{% extends "./layouts/index.html" %} {% block content %}
<section>
  <button id="addNewProject" type="button" class="btn-primary">
    Add New Task
  </button>
  <dialog id="projectDialog" class="z-50 p-4 rounded-md border shadow-lg">
    <div id="message">
      {% if Message %}
      <p class="p-2 border border-red bg-blue-300 text-black">{{Message}}</p>
      <button
        hx-indicator="#clearMessage"
        hx-swap="outerHTML swap:500ms"
        hx-target="#main"
        type="button"
        hx-get="/"
      >
        Clear message
      </button>
      <p id="clearMessage" class="htmx-indicator">Loading...</p>
      {% endif %}
    </div>
    <div id="errors">
      {% if Error %}
      <p class="p-2 bg-red-300 text-black border border-red">{{Error}}</p>
      {% endif %}
    </div>
    <form
      class="flex gap-3 items-end"
      hx-post="/add-project"
      hx-swap="outerHTML"
      hx-target="#message"
      class="flex flex-col gap-3"
    >
      <label class="flex flex-col">
        Project Title
        <input class="p-1 border" type="text" name="name" />
      </label>
      <div class="flex justify-end gap-2">
        <button
          id="close"
          class="border py-2 px-4 border-red-400 text-black rounded-md"
          type="button"
          autofocus
        >
          Cancel
        </button>
        <button
          id="addProject"
          class="border py-2 px-4 bg-green-400 text-black rounded-md"
        >
          Add Project
        </button>
      </div>
    </form>
  </dialog>
  <section class="container mx-auto">
    <div class="relative overflow-x-auto">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            {% for header in Projects.Headers %}
            <th scope="col" class="px-6 py-3">
              <span class="text-start w-full block"> {{ header.Name }} </span>
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for body in Projects.Data %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4">{{ body.Name }}</td>
            <td class="px-6 py-4">
              <span class="whitespace-pre-wrap">{{ body.Sequence }}</span>
            </td>
            <td class="px-6 py-4">{{ body.Slug }}</td>
            <td class="px-6 py-4">{{ body.CreatedAt }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</section>
<script>
  const dialog = document.querySelector("dialog#projectDialog");
  const closeButton = document.querySelector("button#close");
  const addTaskButton = document.querySelector("button#addProject");
  dialog.addEventListener("close", function () {
    document.querySelector("form").reset();
  });
  closeButton.addEventListener("click", function () {
    dialog.close();
  });
  addTaskButton.addEventListener("click", function () {
    document.querySelector("form").reset();
  });
  document
    .getElementById("addNewProject")
    .addEventListener("click", function () {
      dialog.showModal();
    });
</script>
{% endblock %}
